.history/*
.history
bin
bin/*
Lib
Lib/*
Scripts
Scripts/*
share
share/*
photos/*
sent_events.json
uploaded_images.json*
post_to_nostr.exe
lilo_tormento
lilo_tormento/*
key.json
run_cron.sh
cookies.sqlite
615_import_firefox_session.py
